@import 'vars';
@import 'global';
@import 'fonts';

// _________________________________________________________________________________________________

// __________________________________START_HEADER__________________________________________________________

.header_1 {
    background-color: $grey;
}

.header__top__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100px;
    width: 100%;
}

.header__logo {
    position: relative;
    font-size: 30px;
    line-height: 40px;
    @include f700;
    padding-left: 61px;

    ::before {
        content: '';
        position: absolute;
        background-image: url(../images/header/Logo.png);
        width: 50px;
        height: 50px;
        left: 7px;
        top: -7px;
    }

    span {
        color: $blue;
    }
}

.header__text {
    background-color: $blue;
    margin-right: 50px;
    padding: 6px 20px 6px 18px;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
    border-radius: 15px;

    a {
        color: #fff;
        font-size: 14px;
    }

}

.header__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    min-height: 80px;

    &__list {
        margin-top: 33px;

        li {

            a {
                text-transform: uppercase;
                font-size: 15px;
                @include f600;

            }

            &+li {
                margin-left: 30px;
            }
        }
    }
}

.menu__form {
    position: relative;
    max-width: 360px;
    width: 100%;
    overflow: hidden;

    input {
        display: block;
        width: 100%;
        border-radius: 20px;
        height: 44px;
        border: 1px solid #d9dfe5;
        font-size: 14px;
        @include f500;
        padding-left: 22px;
        padding-right: 60px;


        &:focus {
            outline: none;
        }

        &::placeholder {
            color: #898f96;
            @include f500;
        }
    }



    button {
        position: absolute;
        border: none;
        background-color: transparent;
        right: 0;
        top: 0;
        padding: 15px 27px 10px 27px;
        background-color: $blue;
        border-radius: 20px;
        cursor: pointer;

        &:focus {
            outline: none;
        }

    }
}

// __________________________________END_HEADER__________________________________________________________


// __________________________________START_SERCH__________________________________________________________

.serch {
    min-height: 724px;
    position: relative;
    margin-bottom: 186px;
}

.serch__inner {
    text-align: center;
    color: #f3f3f8;

    &-title {
        padding-top: 170px;
        font-size: 60px;
        line-height: 70px;
        @include f400;

        span {
            display: block;
            @include f700;
        }
    }

    &-text {
        @include f500;
        padding-top: 30px;
        font-size: 20px;
    }

    &-btn {
        margin-top: 68px;



        a {
            color: #fff;
            font-size: 16px;
            border: 1px solid #fff;
            padding: 15px 30px;
            border-radius: 30px;
            transition: all .4s;
            margin-bottom: 166px;


            &+a {
                margin-left: 30px;
            }
        }

        :hover {
            background-color: #fff;
            color: $blue;
        }
    }
}

// .serch__box__form {
//     position: absolute;
// }


.rectagle {
    position: absolute;
    left: calc(50% - 1080px/2);
    width: 1080px;
    height: 135px;
    bottom: -34px;
    background-color: #fff;
    border-radius: 6px;
    opacity: 0.502;
}

.rectagle1 {
    position: absolute;
    bottom: -49px;
    left: calc(50% - 1111px/2);
    width: 1111px;
    height: 135px;
    background-color: #fff;
    border-radius: 6px;
    opacity: 0.502;
}

.rectagle2 {
    position: absolute;
    width: 1140px;
    left: calc(50% - 1140px/2);
    height: 135px;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);
}

.serch__form {
    margin-left: 41px;
    margin-top: 40px;


    form {
        display: flex;

    }

    input {
        position: relative;
        max-width: 807px;
        width: 100%;
        padding: 20px 0 20px 28px;
        border: 1px solid #dcdcdc;
        border-radius: 3px;


        &::placeholder {
            font-size: 16px;
            color: #676767;
            @include f400;
        }

        &:focus {
            outline: none;
        }
    }

    button {
        border: none;
        color: #fff;
        background-color: transparent;
        padding: 18px 67px;
        background-color: $blue;
        border-radius: 6px;
        cursor: pointer;
        margin-left: 30px;

    }

    .serch_category {
        max-width: 190px;
        width: 100%;
        position: absolute;
        right: 292px;
    }

    .serch_category select {

        background: url(../images/serch/arrow-down.png) no-repeat right;
        background-position: 161px 50%;
        position: relative;
        border: none;
        border-left: 1px solid #dcdcdc;
        cursor: pointer;
        color: #676767;
        appearance: none;
        padding: 20px 80px 20px 18px;
    }

    .serch_category select:focus {
        outline: none;
    }
}

// __________________________________END_SERCH__________________________________________________________

// __________________________________START_LEYER__________________________________________________________

.leyers__inner {
    display: flex;
    justify-content: space-between;

    .leyers__item {
        max-width: 365px;
        width: 100%;
        text-align: center;
        min-height: 404px;
        margin-bottom: 120px;

        &:hover {
            box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
        }

        &-center {
            box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
        }

        &-img {
            padding-top: 40px;

            img {
                width: 112px;
                height: 112px;
            }
        }

        &-title {
            padding-top: 20px;
            font-size: 24px;
            line-height: 30px;
            color: #000;
        }

        &-text {
            padding-top: 15px;
            width: 300px;
            font-size: 16px;
            color: $text;
            margin: 0 auto;
            line-height: 30px;

        }

    }
}

// __________________________________END_LEYER__________________________________________________________

// __________________________________START_FEATURED_PRODUCTS__________________________________________________________

.featured_products {
    background-color: #eff1f5;
    padding-top: 120px;
    padding-bottom: 120px;
}

.title-box {
    @include title-box;

}

.title {
    @include title;
}

.arrows-slider {
    margin-top: 33px;
    width: 110px;
    height: 45px;
    background-color: #7347c1;
    border-radius: 25px;


}

.featured_products__title-box {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.slick-arrow {
    position: absolute;
    top: -138px;
    width: 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    opacity: .8;
}

.slick-arrow:hover,
.slick-arrow:focus {
    background-color: transparent;
    outline: none;
}

.slick-prev {
    right: 105px;
    left: auto;
}

.slick-next {
    right: 56px;
}

.slick-arrow::before {
    display: none;
}

.featured_products__inner {
    display: flex !important;
    background-color: #fff;
    box-shadow: 0px 2px 30px 0px rgba(147, 155, 168, 0.1);
    border-radius: 4px;
    max-height: 450px;

}

.featured_products__inner-box {
    max-width: 490px;
    margin-left: 50px;
}

.featured_products__inner__box__title {
    font-size: 24px;
    line-height: 30px;
    @include f600;
    padding-bottom: 13px;
    padding-top: 40px;

}

.featured_products__title-autor__inner {
    display: flex;
    min-height: 50px;

}

.featured_products__title__autor-category {
    position: relative;
    @include category;
    padding-left: 45px;
    @include category-icon;
}

.featured_products__title-autor {
    @include autor;
    padding-bottom: 25px;

}


.featured_products__text {
    font-size: 16px;
    line-height: 30px;
    color: $text;
    @include f400;
    padding-bottom: 40px;
}

.fpp {
    background-color: rgb(241, 243, 246);
    border-radius: 16px;
    padding: 0px 15px 0px 16px;
    line-height: 30px;

    a {
        color: #868c96;
    }
}


.featured_products__products {
    display: flex;

    a+a {
        margin-left: 7px;
    }

}

.featured_products__info {
    margin-top: 45px;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #ececec;
    align-items: center;
    min-height: 80px;


    &-box {
        display: flex;
        max-width: 386px;
        width: 100%;
        min-height: 80px;
        align-items: center;
    }


    &-prise {
        background-color: $blue;
        color: #fff;
        border-radius: 15px;
        padding: 4px 19px;
        font-size: 15px;
        @include f500;


    }

    &-like {
        position: relative;
        color: $pink;
        padding-right: 45px;
        padding-left: 45px;


        @include like-icon;
    }

    &-bey {
        position: relative;
        color: $blue;

        @include bey-icon;
    }

}



// __________________________________END_FEATURED_PRODUCTS__________________________________________________________

// __________________________________START_NEW_PRODUCTS__________________________________________________________

.new-products {
    padding-top: 120px;
    background-color: #f6f7fb;
}

.new-products__title-box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;


    &-arrows {
        position: relative;
        display: block;
        padding-top: 40px;



        &::before {
            position: absolute;
            content: '';
            background-image: url(../images/new_products/menu.svg);
            width: 5px;
            height: 20px;
            top: 42px;
            right: 10px;
            cursor: pointer;
        }


        a {
            color: $text;
            padding-right: 30px;
        }
    }
}

.new-products__box-btn {
    background-color: #fff;
    padding: 30px 110px 30px 30px;
    box-shadow: 0px 1px 2px 0px rgba(90, 93, 100, 0.1);
    border-radius: 4px;
    margin-bottom: 50px;

    .new-products-btn {
        display: flex;
        justify-content: space-between;

        button {
            border: none;
            color: #747b86;
            cursor: pointer;
            outline: none;
            transition: all .6s;

            &:hover {
                background-color: $blue;
                color: #fff;
            }

        }
    }
}

.new-products__inner-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.new-products__item-box {
    max-width: 305px;
    margin-left: 30px;

    @include item-box;

}

.items-box {
    background-color: #fff;
    box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
    max-width: 360px;
    width: 100%;
    border-radius: 4px;
    min-height: 530px;
    margin-bottom: 30px;

    &-img img {
        max-width: 360px;
    }
}






.new-products__bottom-btn {
    padding-top: 30px;
    text-align: center;
    padding-bottom: 120px;

    button {
        border: none;
        font-size: 16px;
        padding: 5px 30px;
        border-radius: 25px;
        background-color: $blue;
        color: #fff;
        cursor: pointer;
        outline: none;
    }
}

// __________________________________END_NEW_PRODUCTS__________________________________________________________


// __________________________________START_YOUR_FOLLOWERS__________________________________________________________

.your-followers {
    padding-top: 120px;
    padding-bottom: 120px;
    background-color: #eff1f5;
}

.your-followers__title-box {
    display: flex;
    justify-content: space-between;
}

.your-followers__item-box {
    max-width: 305px;
    margin-left: 30px;
    @include item-box;
}

.your-followers__items__inner {
    .slick-arrow {
        top: -115px;
    }

}

.html::before {
    background-image: url(../images/new_products/html.png);
    height: 17px;
}

.psd::before {
    background-image: url(../images/new_products/psd.png);
    width: 16px;
    height: 16px;
}


// __________________________________END_YOUR_FOLLOWERS__________________________________________________________